*{
     margin:0;
     padding:0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-color: darkgray;
    background-position: center;
    background-size: cover;
    position: relative;
}
.h1{
    color: darkslategrey;    
}

.wrapper{
    margin: 0 auto;
     width: 1000px; 
    
}

video{
     width: 100%;
}
