*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:url(images/MayonVolcano_ROW5913000756_1366x768.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 150px;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  
   
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}



.temp{
     width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight:600;
    color: aliceblue;
}

p{
    color:black;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    padding: 10px;
}

.row{
     margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.template-content{
    flex-basis: 31%;
    background-size: cover;
    background-color:#fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
}
h3{
    text-align: center;
    color:black;
    font-weight: 600;
    margin: 10px 0;
}
.template-content:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);